@import './vars.css';

.daterangepicker .dt-picker-body {
  min-width: 560px;
}

.daterangepicker .dt-picker-content {
  margin: 0;
}

.daterangepicker table {
  table-layout: fixed;
  margin: 5px;
  width: 100%;
}

.daterangepicker-content {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
}

.daterangepicker-content__left {
  border-right: 1px solid var(--datepicker-inner-border-color);
}

.daterangepicker-header {
  position: relative;
  text-align: center;
  height: 28px;
}

.daterangepicker-header button {
  float: left;
}

.daterangepicker-content:last-of-type .daterangepicker-header button {
  float: right;
}

.daterangepicker-header div {
  font-size: 14px;
  font-weight: bold;
  margin-right: 50px;
}

.daterangepicker-content:last-of-type .daterangepicker-header div {
  margin-left: 50px;
  margin-right: 50px;
}

.daterangepicker-timeheader {
  position: relative;
  border-bottom: 1px solid var(--datepicker-inner-border-color);
  font-size: 0;
  padding: 8px 5px 5px 5px;
}

.daterangepicker-editorswrap {
  padding-right: 10px;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.daterangepicker-editorswrap.right {
  padding-left: 10px;
  text-align: right;
}

.daterangepicker-editorswrap input.date {
  width: 45%;
}

.daterangepicker-editorswrap input.time {
  margin-left: 5px;
  width: 45%;
}

.daterangepicker-timeheader > .icon-rightarrow {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  margin-top: 5px;
  font-size: 20px;
  color: var(--datepicker-icon-color);
}

.daterangepicker-timepickerwrap {
  position: relative;
}

.daterangepicker-timepickerwrap .dt-picker {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 1;
  background: #fff;
}